<h1>당첨 번호 :<%= @jackpot %></h1>
<h1>내 번호  :<%= @myNumber %></h1>
<h1>겹치는 번호 : <%= @overlap %></h1>
<h1><%= @answer %></h1>


<div class="alert alert-primary" role="alert">  
	<p>이번 주 로또 번호!!</p>
	<% @jackpot.each do |img| %>
		<img src="http://www.nlotto.co.kr/img/index/main_ball_<%= img %>.gif" >
	<% end %>
</div>
<div class="alert alert-success" role="alert">  
	<p>내가 뽑은 번호</p>
	<% @myNumber.each do |img| %>
		<img src="http://www.nlotto.co.kr/img/index/main_ball_<%= img %>.gif" >
	<% end %>
</div>
<div class="alert alert-danger">
	<p><%= @answer %></p>
</div>
<a href="/" class="btn btn-primary">한번 더?</a>